/* *{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
} */

.App{
  margin-top: 100px;
  width: 80vw;
  margin-inline: auto;
}

.header{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.row-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
}
.navsection {
  width:1000px;
  display: flex;
 justify-content: space-between;
}
.navsection h1{
font-weight: bold;
}
.navsection img{
  width: 70px;
}